@import "compass";
@import "flexbox";

/* Space out content a bit */
html, body, #slides {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  #slides {
    max-width: 730px;
  }
}


/* Slides */
#slides {
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);

    section {
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);

        width: 100%;
        height: 100%;

        h1 {
            margin:0;
            padding:0;
        }
    }
}

