<section>
    <h1>small-slide</h1>
</section>
<section>
    <article>
    縦長な画面で見やすいスライドを集める
    </article>
</section>
<section>
    <code>
        function() {
            alert('hello world');
        }
    </code>
</section>
<section>
    <ul>
        <li>寿司</li>
        <li>餃子</li>
        <li>牡蠣</li>
    </ul>
</section>
<section>
  <img src="images/small-slide.png" alt="small-slide log">
</section>

<!--
- 以下のような感じでmarkdownで書ければ、嬉しい
- 閲覧時の操作が迷うのはイヤなので、表現力は下げるかも / 作るのも手間
-->
<!--
#small-slide

---

縦長な画面で見やすいスライドを集める

---

```
    function() {
        alert('hello world');
    }
```

---

* 寿司
* 餃子
* 牡蠣

---

![yeoman](images/small-slide.png)
-->
